/* =============
    Base
============= */
body{
    background-color: #C8D7DD;
}

.content-spacing{
    margin-top: 24px;
}

.header-footer-grid{
    display: grid;
    grid-template-columns: 18px auto 219px;
    grid-template-areas: ". header-footer .";

    >div{
grid-area: header-footer;
    }
}


.large-image{
    width: 100%;
}

ul{
padding: 0;
margin: 0;
    li{
list-style: none;
    }
}

.show-extra-large{
    display: none;

    @include xxl{
        display:block;
    }
}