/* =============
    Base
============= */
.header-footer-grid{
    display: grid;
    grid-template-columns: 18px auto 219px;
    grid-template-areas: ". header-footer .";

    >div{
grid-area: header-footer;
    }
}


.large-image{
    width: 100%;
}
