/* =============
    Info
============= */

#info{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". info .";
    }

    @include xxl{
        grid-template-columns: auto 1200px auto; 
    }

    >div{
        @include md {
            grid-area: info ;
        }

        h1{
           @include md{
            margin-bottom: 16px;
           }
        }
        ul{
            display: grid;
            

            @include md{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "i1 i1 i2 i2 " 
                "i3 i3 i4 i4"
                ".. i5 i5 ..";
                gap: 16px;
    
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "i1 i1 i2 i2 i3 i3" 
                ".. i4 i4 i5 i5 ..";
            }

           li{
            background-color: var(--white);
            box-shadow: 0px 1px 1px rgba (42, 48, 54, 0.3);
             img{
                width: 100%;
            }
            section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". info-content .";
                background: white;
                box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.296793);
                padding: 24px 0;
                
                >div{
                    grid-area: info-content;
                  
               } 
            }
           } 
    
           #i1{
            @include md{
                grid-area: i1;
            }
           }
    
           #i2{
            @include md{
                grid-area: i2;
            }
           }
    
           #i3{
            @include md{
                grid-area: i3;
            }
           }
    
           #i4{
            @include md{
                grid-area: i4;
            }
           }
    
           #i5{
            @include md{
                grid-area: i5;
            }
           }
        }
    }
  
}