/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    background-color: var(--grey);
    color: var(--white);
    
    padding: 16px 0 24px;

    @include md{
        padding: 24px 0 32px;
    }
    

    @include xxl{
        grid-template-columns: auto 1200px auto;  
    }


    >div{
        grid-area: footer;
      

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";
        }

       @include lg{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "f1 f2 f3";
       } 

        #f1{
            margin-bottom: 16px;
            @include md{
                grid-area: f1;

        
            }
            h1{
                margin-bottom: 16px;
                font-size: rem-calc(20);
                font-weight: 600;
                color: var(--teal2);

            }

            h2{
                font-size: rem-calc(16);
                font-weight: 600;
                margin-bottom: 8px;
            }

            .f1-content{
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                i{
                    margin-right: 8px;
                   font-size: rem-calc(25); 
                   margin-right: 8px;
                }
            }

            a:link, a:visited{
                color: white;
                transition: 0.25s;

                &:hover, &:active{
                    color: var(--teal2);


                }
            }
            .divide-line{
                height: 1px;
                width: 90%;
                background-color: var(--teal1);
                margin: 32px 0;
            }

        }

        #f2{
            margin-top: 48px ;
            @include md{
                grid-area: f2;
            }

            @include md{
                margin-top: 0px ;
            }

            h1{
                margin-bottom: 16px;
                font-size: rem-calc(20);
                font-weight: 600;
                color: var(--teal2);
            }

            form{
                display: flex;
                flex-direction: column;
                input{
                    width: 100%;
                    border: none;
                    background-color: var(--light-grey);
                    box-sizing: border-box;
                    padding: 16px 8px;
                    border-radius: none;

                    div{
                        // text-align: right;
                        display: flex;
                        justify-content: flex-end;
                        button{
                            border: none;
                            color: white;
                        }   
                    }


                }
            }
        }

        #f3{
            @include md{
                grid-area: f3;
                margin-top: -75px;
                
            }

            @include lg{
                margin-top: 0;
                text-align: right;
            }

            @include xl{
                text-align: right;
            }

            h1{
                margin-bottom: 16px;
                font-size: rem-calc(20);
                font-weight: 600;
                color: var(--teal2);
            }

        ul{
            display: flex;

            @include lg{
                justify-content: flex-end;
            }

            li{
                margin-right: 16px;
                a:link, a:visited{
                    color: var(--teal2);
                    font-size: rem-calc(25);

                    &:hover, &:active{
                        color: var(--teal3);
                        

                    }
                }

                @include xl{
                    margin-right: 0;
                    margin-left: 16px;
                }
            }
        }
        }
        
    }
 }  
