/* =============
    Header
============= */
header{
    #logo-nav{
      display: grid;
      grid-template-columns: 16px auto 16px;
      grid-template-areas: ". logo-nav .";
      background: var(--grey);

      >div{
       
        
        grid-area: logo-nav;
        Img{
          width: 90px;
          height: 45px;
          padding: 16px 220px 26px 18px;
        } 
      }

    }

    #search{
      display: grid;
      grid-template-columns: 16px auto 16px;
      grid-template-areas: ". search .";
      background:lightblue;
      
      >div{
       
        grid-area: search;
        form{
          input{

          }  

          button{
            img{
                
            }
          }
        }
      }
      
    }
}